export(annotate_snplist_backend)
export(execute_make_senlinplot)
export(make_senlinplot_backend)
export(load_data_backend)
export(load_gwasss_backend)
export(make_manhattanplot_backend)
export(make_qqplot_backend)
export(merge_saige_backend)
export(refine_senlinplot)
export(srun)
